 
<!---
<!DOCTYPE html>
    <html lang="en">
        <head>
                <meta charset="utf-8">
                <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <meta name="description" content="upgrad design">
                <meta name="keywords" content="web design">
                <meta name="author" content="vivek karmokar">
    
    
    
                <link rel="stylesheet" type="text/css" href="normalize.css">
                <link rel="stylesheet" type="text/css" href="grid.css">
                <link rel="stylesheet" type="text/css" href="reg.css">
                <link rel="stylesheet" type="text/css" href="queries.css">
                <link href='https://fonts.googleapis.com/css?family=Lato:100,300,300i,400' rel='stylesheet' type='text/css'>
                <link rel="stylesheet" type="text/css" href="vendors/css/ionicons.min.css">
                
                       <title>Post Graduate Diploma in Software Development</title>
        </head> -->
        <body>   
            <section>
         
                <row class="container">
                    <div> 
                    <div class="button-block">
                        <a href="#">Register</a>
                        <a href="#">Login</a>
                        <a href="#">Name</a>
                    </div>                                                                                                                                                                                                                                                                          
                    </div>
                    <div class="formbox">
                    <div class="row span-1-of-7">
                        <div class="box">
                            <div class="headertitle"><h3>your sponser info</h3></div>
                        <div class="col span-1-of-2 col-left">
                            <div class="blockform">
                                <label>Sponser ID </label><br>
                                <input type="text" id="sponserid" class="same" required>
                            </div>
                            <div class="blockform">
                                <label>Sponser ID </label><br>
                                <input type="text" id="sponserid" class="same" required>
                            </div>
                        </div>
                        <div class="col span-1-of-2 col-right">
                            <div class="blockform">
                                <label>Side</label><br>
                                <select id="state" name="state" class="same">
                                    <option value="Slect">Select side</option>
                                    <option value="Horizontal">Horizontal side</option>
                                    <option value="Vertical">Vertical side</option>
                                </select>
                            </div>
                        </div>
</div>
                    </div>
                    <!--=======row2=========-->
                    <div class="row span-1-of-7">
                            <div class="box">
                                <div class="headertitle"><h3>package info</h3></div>
                            <div class="col span-1-of-2 col-left">
                                <div class="blockform">
                                        <label>E-pin </label><br>
                                        <input type="text" id="sponserid" class="same" required>                      
                                              </div>
                            </div>
                            <div class="col span-1-of-2 col-right">
                                <div class="blockform">
                                        <label>Product Package</label><br>
                                        <select id="state" name="state" class="same">
                                            <option value="Slect">Product</option>
                                            <option value="Horizontal">Horizontal product</option>
                                            <option value="Vertical">Vertical product</option>
                                        </select>
                                </div>
                            </div>
    </div>
                        </div>
    
                    <!--=======row3=========-->
                    <div class="row span-1-of-7">
                            <div class="box">
                                <div class="headertitle"><h3>your personal info</h3></div>
                            <div class="col span-1-of-2 col-left">
                                <div class="blockform">
                                        <label>accout name</label><br>
                                        <select id="title" class="dif" >
                                            <option>mr.</option>
                                            <option>mrs.</option>
                                        </select>
                                        <input type="text" class="dif-sub" required><br>
        
                                        <label>DOB</label><br>
                                        <input type="date" class="same"><br>
        
                                        <label>email</label><br>
                                        <input type="email" class="same">
                                </div>
                            </div>
                            <div class="col span-1-of-2 col-right">
                                <div class="blockform">
                                        <label>father name</label><br>
                                        <select id="child" class="dif">
                                                <option>s/o</option>
                                                <option>d/o</option>
                                        </select>
                                <input type="text" class="dif-sub" required><br>

                                    <label>Gender</label><br>
                                            <select id="gen" name="state" class="same" >
                                                <option value="male">male</option>
                                                <option value="female">female</option>
                                                <option value="transgender">transgender</option>
                                            </select><br>

                                    <label>Mobile</label><br>
                                    <input type="tel" class="same" >

                                </div>
                            </div>
    </div>
                        </div>
    
                    <!--=======row4=========-->
                    <div class="row span-1-of-7">.
                            <div class="box">
                                <div class="headertitle"><h3>your address info</h3></div>
                                <div class="blockform">
                                        <label>your address</label><br>
                                        <input type="text" id="adress" class="same" required>
                                    </div>
                            <div class="col span-1-of-2 col-left">
                                <div class="blockform">
                                        <label>City</label><br>
                                        <input type="text" id="city" class="same" required><br>
            
                                        <label>zip code</label><br>
                                        <input type="number" id="number" class="same" required></div>
                            </div>
                            <div class="col span-1-of-2 col-right">
                                <div class="blockform">
                                        <label>state</label><br>
                                        <input type="text" id="state" class="same"  required> <br>
            
                                        <label>Country</label><br>
                                        <select id="country" name="country" class="same">
                                            <option value="india">india</option>
                                            <option value="u.s.a">u.s.a</option>
                                            <option value="russia">russia</option>
                                        </select>
                                </div>
                            </div>
    </div>
                        </div>
    
                    <!--=======row5=========-->
                    <div class="row span-1-of-7">
                            <div class="box">
                                <div class="headertitle"><h3>your co-applicant info</h3></div>
                            <div class="col span-1-of-2 col-left">
                                <div class="blockform">
                                        <label>Co-Applicant Name</label><br>
                                        <input type="text" id="applicant name" class="same" required><br>
                           
                                        <label>Co-Applicant DOB</label><br>
                                        <input type="date" id="applicant DOB" class="same" required>
                               </div>
                            </div>
                            <div class="col span-1-of-2 col-right">
                                <div class="blockform">
                                        <label>Co-Applicant Relation</label><br>
                                        <select id="relation" name="relation" class="same">
                                            <option value="mother">mother</option>
                                            <option value="father">father</option>
                                            <option value="son">son</option>
                                        </select>
                             
                                </div>
                            </div>
    </div>
                        </div>
    
                    <!--=======row6=========-->
                    <div class="row span-1-of-7">
                            <div class="box">
                                <div class="headertitle"><h3>your banking info</h3></div>
                            <div class="col span-1-of-2 col-left">
                                <div class="blockform">
                                        <label>pan no.</label><br>
                                        <input type="number" id="pan" class="same" required><br>
                    
                                        <label>bank name</label><br>
                                            <select id="bank" name="bank" class="same">
                                                <option value="SBI">SBI</option>
                                                <option value="HDFC">HDFC</option>
                                                <option value="ICIC">ICIC</option>
                                            </select><br>
                    
                                        <label>IFSC</label><br>
                                        <input type="number" id="ifsc" class="same" required><br>
                    
                                      
                                </div>
                            </div>
                            <div class="col span-1-of-2 col-right">
                                <div class="blockform">
                                        <label>A/c Type</label><br>
                                        <select id="type" name="type" class="same">
                                            <option value="Slect">Saving account</option>
                                            <option value="Horizontal">current account</option>
                                        </select>  <br> 
                                        
                                        <label>bank branch name</label><br>
                                        <input type="text" id="branch" class="same" required><br>
                            
                                         
                                        <label>A/c No.</label><br>
                                        <input type="number" id="acnum" required class="same"><br>
                                </div>
                            </div>
    </div>
                        </div>
                        <div class="row span-1-of-7">
                            <div class="box">
                                <div class="blockform">
                                    <label><input type="checkbox">Accept all terms and conditions</label><br>
                                   
                                    <button type="submit">submit</button>
                                </div>
                            </div>
                        </div>
    
                     </div>                                              
                </row>
            </section>
            </body>
            
          