

<div ng-controller="AuthenticationController">
  <h3 class="col-md-12 text-center">Or sign up using your email</h3>
  <div class="col-xs-offset-2 col-xs-8 col-md-offset-4 col-md-4">
    <form name="userForm" ng-submit="signup(userForm.$valid)" class="signin" novalidate autocomplete="off">
      <fieldset>
        <div class="form-group" show-errors>
          <label for="firstName">First Name</label>
          <input type="text" id="firstName" name="firstName" class="form-control" ng-model="credentials.firstName" placeholder="First Name" required>
          <div ng-messages="userForm.firstName.$error" role="alert">
            <p class="help-block error-text" ng-message="required">First name is required.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label for="lastName">Last Name</label>
          <input type="text" id="lastName" name="lastName" class="form-control" ng-model="credentials.lastName" placeholder="Last Name" required>
          <div ng-messages="userForm.lastName.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Last name is required.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label for="email">Email</label>
          <input type="email" id="email" name="email" class="form-control" ng-model="credentials.email" placeholder="Email" lowercase required>
          <div ng-messages="userForm.email.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Email address is required.</p>
            <p class="help-block error-text" ng-message="email">Email address is invalid.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label for="username">Username</label>
          <input type="text" id="username" name="username" class="form-control" ng-model="credentials.username" placeholder="Username" lowercase required>
          <div ng-messages="userForm.username.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Username is required.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label for="password">Password</label>
            <input type="password" id="password" name="password" class="form-control" ng-model="credentials.password" placeholder="Password" popover="{{popoverMsg}}" popover-trigger="focus" password-validator required>
          <div ng-messages="userForm.password.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Password is required.</p>
            <div ng-repeat="passwordError in passwordErrors">
              <p class="help-block error-text" ng-show="userForm.password.$error.requirements">{{passwordError}}</p>
            </div>
          </div>
        </div>
        <div class="form-group" ng-show="!userForm.password.$error.required">
          <label>Password Requirements</label>
          <progressbar value="requirementsProgress" type="{{requirementsColor}}"><span style="color:white; white-space:nowrap;">{{requirementsProgress}}%</span></progressbar>
        </div>



       <!--new fields by Kajal -->


      
              <div class="form-group" class="blockform">
                  <label>Sponser ID </label><br>
                  <input type="text" id="sponserid" ng-model="credentials.sponser_id" class="same" required>
              </div>
          

          <div class="blockform" class="form-group">
            <label>Side</label><br>
            <select id="state" name="state" ng-model="credentials.side"class="same">
                <option value="Slect">Select side</option>
                <option value="Horizontal">Horizontal side</option>
                <option value="Vertical">Vertical side</option>
            </select>
        </div>
    
        <div class="headertitle"><h3>package info</h3></div>
        <div class="col span-1-of-2 col-left">
            <div class="blockform" class="form-group">
                    <label>E-pin </label><br>
                    <input type="text" id="E-pin" ng-model="credentials.e_pin"class="same" required>                      
                          </div>
        </div>



        <div class="blockform" class="form-group">
          <label>Product Package</label><br>
          <select id="state" name="state" ng-model="credentials.product_package" class="same">
              <option value="Slect">Product</option>
              <option value="Horizontal">Horizontal product</option>
              <option value="Vertical">Vertical product</option>
          </select>
  </div>


  <div class="headertitle"><h3>your personal info</h3></div>
  <div class="col span-1-of-2 col-left">
      <div class="blockform" class="form-group">
              <label>account name</label><br>
              <select id="title" class="dif" ng-model="credentials.account_name.first_name" >
                  <option>mr.</option>
                  <option>mrs.</option>
              </select>
            </div>
          </div>
          
          <div class="form-group" >

            <input type="text" class="dif-sub" ng-model="credentials.account_name.second_name" required><br>
          </div>

                      
          <div class="form-group">
            <label>DOB</label><br>
            <input type="date" class="same" ng-model="credentials.dob" ><br>
          </div>



<div class="form-group">
  <label>email</label><br>
  <input type="email" ng-model="credentials.email" class="same">
</div>

<div class="blockform" class="form-group">
  <label>father name</label><br>
  <select id="child" class="dif" ng-model="credentials.father_name">
          <option>s/o</option>
          <option>d/o</option>
  </select>
  </div>

  <div class="form-group">
    <input type="text" class="dif-sub"><br>
</div>


<div class="form-group">
  <label>Gender</label><br>
          <select id="gen" name="state" class="same" ng-model="credentials.gender" >
              <option value="male">male</option>
              <option value="female">female</option>
              <option value="transgender">transgender</option>
          </select><br>
</div>


<div class="form-group">
  <label>Mobile</label><br>
  <input type="tel" class="same" ng-model="credentials.mobile">
</div>

<div class="blockform" class="form-group">
  <label>your address</label><br>
  <input type="text" id="adress" class="same" ng-model="credentials.your_address" required>
</div>


<div class="blockform" class="form-group">
  <label>City</label><br>
  <input type="text" id="city" class="same" ng-model="credentials.city" required><br>
</div>


<div class="form-group">
  <label>zip code</label><br>
  <input type="number" id="number" class="same" ng-model="credentials.zip_code" required>
</div>



<div class="blockform" class="form-group">
  <label>state</label><br>
  <input type="text" id="state" class="same" ng-model="credentials.state" required> <br>
</div>

<div class="form-group">
  <label>Country</label><br>
  <select id="country" name="country" ng-model="credentials.country" class="same">
      <option value="india">india</option>
      <option value="u.s.a">u.s.a</option>
      <option value="russia">russia</option>
  </select>
</div>


<div class="blockform" class="form-group">
  <label>Co-Applicant Name</label><br>
  <input type="text" id="applicant name" class="same" ng-model="credentials.co_applicant_name" required><br>
</div>

<div class="form-group">
  <label>Co-Applicant DOB</label><br>
  <input type="date" id="applicant DOB" ng-model="credentials.co_applicant_dob" class="same" required>
</div>

<div class="blockform" class="form-group">
  <label>Co-Applicant Relation</label><br>
  <select id="relation" name="relation" ng-model="credentials.co_applicant_relation" class="same">
      <option value="mother">mother</option>
      <option value="father">father</option>
      <option value="son">son</option>
  </select>

</div>

<div class="blockform" class="form-group">
  <label>pan no.</label><br>
  <input type="number" id="pan" class="same" ng-model="credentials.pan_no" required><br>
</div>
<div class="form-group">
  <label>bank name</label><br>
      <select id="bank" name="bank" ng-model="credentials.bank_name" class="same">
          <option value="SBI">SBI</option>
          <option value="HDFC">HDFC</option>
          <option value="ICIC">ICIC</option>
      </select><br>
    </div>


 <div class="form-group">
                          <label>IFSC</label><br>
                          <input type="number" id="ifsc" class="same" ng-model="credentials.ifs_code" required><br>
                        </div>
                        


                        <div class="blockform" class="form-group">
                          <label>A/c Type</label><br>
                          <select id="type" name="type" ng-model="credentials.ac_type" class="same">
                              <option value="Slect">Saving account</option>
                              <option value="Horizontal">current account</option>
                          </select>  <br> 
                          </div>


            <div class="form-group">
                          <label>bank branch name</label><br>
                          <input type="text" id="branch" class="same" ng-model="credentials.bank_branch_name" required><br>
              </div>               

              <div class="form-group">
                <label>A/c No.</label><br>
                <input type="number" id="acnum" ng-model="credentials.ac_no" required class="same"><br>
              </div>

            
              <div class="blockform" class="form-group">
                <label><input type="checkbox" ng-model="credentials.accept_all_terms_and_conditions" >Accept all terms and conditions</label><br>
              
       
            </div>
           
            

            <div class="text-center form-group">
              <button type="submit" class="btn btn-primary">Sign up</button>
              &nbsp; or&nbsp;
              <a ui-sref="authentication.signin" class="show-signup">Sign in</a>
            </div>
            <div ng-show="error" class="text-center text-danger">
              <strong ng-bind="error"></strong>
            </div>

      </fieldset>
    </form>
  </div>h
</div>

 



